body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("lotto.jpg");
}

a {
  color: #00B7FF;
}

div.box{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.box p{
  margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}


#login {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#save {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#delete {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#register {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#lotterynum {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

