<!doctype html>
<html ng-app="myApp"> 
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 
</head>

<body background="lotto.jpg">  
<div class="box">
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <button id="lotterynum" type="button">Lottery Numbers</button>
        <div id="lottery">Click to find your lucky lottery numbers!
            </div>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
    Your Personal Lucky Number: 
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</div>
<script>
  $("#lotterynum").click(function(e) {
    e.preventDefault();
    var all = "<p>";
    var num = Math.floor((Math.random() * 1000000) + 1);
    all += num;
    var myurl = "https://api.chucknorris.io/jokes/random";
        $.ajax({
                url:myurl,
                crossDomain:true,
                dataType:"json",
                success: function(parsed_json){
                        all+="</p>";
                        $("#lottery").html(all);
                        }
                }
        );
  });
</script>
</body>
</html>
